.App {
  text-align: center;
}

.Input {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ResultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.Result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.Button:disabled {
  cursor: not-allowed;
}